<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/2_FiveTypesofData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 1  #assign annotation

In [ ]:
a = 1

In [ ]:
a  = "I love Sam's pencil case."

#assign

#🐹 🐾  Five Types of Data
        Number, String, List, Tuple, Dictionary

Variables can be either a number or a sequence.     

1️⃣ Numbers can be either integers, floats, or imaginary numbers.
- interger 정수 : -100, -30, -11, 0, 1, 5, 100, 302, etc.
- float 부동소수 : -100.0, -30.0, -11.0, 0.0, 0.1, 2.4, 100.32, etc.
- complex 복소수: 실수(real number) + (imaginary number) (e.g., 1 + 5j, 3/4 + 10j, π + 2j, e + 3j, etc.)



        - 실수(Real number): 유리수(Rational number) & 무리수(Irrational number)를
         포함하는 숫자 집합으로 실수 집합은 수직선 상의 모든 점들을 나타냄

        - 유리수(Rational numbers): 분수 형태로 나타낼 수 있는 수.
         즉, 두 정수의 비로 표현 가능한 수들을 포함 (e.g., 1/2, 3/4, 5, -7/3)

        - 무리수(Irrational numbers): 분수 형태로 정확하게 나타낼 수 없는 수로써
         무한 소수로 표현 (e.g., √2, π, 오일러 수(e))
         
         cf., 'j' represents imaginary numbers 허수.

실수는 이러한 유리수와 무리수를 모두 포함하며,  실수는 수학적 연산을 수행하는 데 사용되며, 실수 집합은 실수 체계(Real number system)의 일부로써 다양한 수학적 연구와 응용 분야에서 중요한 역할을 한다.

2️⃣ Three types of seqeunce data

🅰️ <font color='red'> **String** </font> data are non-numerical data. It is indicated by a pair of either double quotations or single quotations.
- "a", "b", "c"
- 'a', 'b', 'c'
- "042114" (cf., 042114)
- "I love Sam's pencil case"

🅱️ Data can be consecutively connected. The <font color='red'> **list**</font>-stle-type data is most common. If consecutively connected elements are protected from a modification, we especially call it a <font color='red'> **tuple**</font>-style-type.

- i) <font color='red'> **List**</font>: A list is indicated by a pair of square brackets [ ].
      ['a', 'abc', 1, '911', 'I love Python']

- ii) <font color='red'> **Tuple**</font>: A tuple is indicated by a pair of brackets ( ).
      ('a', 'abc', 1, '911', 'I love Python')

👀 Be aware that elements in a list/tuple can be numbers, strings, dictionaries, or embeded lists/tuples of any kind. Note that elements in a tuple cannot be modified and protected under any circumstances.

- [1, 'a', 'bananas', 'berries','3.14']  
- [{'Earth': 14725000000, 'Mars': 23934000000}, [1, 2, 3], ['b', '042-114', 'I like apples'], (100, 200, 300)]

3️⃣ A paired data with a matched <font color='blue'>**key - value**</font> set is called <font color = 'red'> **dictionary** <font/>.
- {'a':'A', 'b':'B', 'c':"C'}
- {'a':1, 'b':2, 'c':3}
- {'d':4}

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Numbers</front> <font color = 'green'>to varialbes

In [16]:
#@markdown exercise

a = 1
print (a)

#@markdown exercise 2

b = 100
print(b)

#@markdown **exercise**

1
100

In [ ]:
#@markdown 📌 Assign 1 to variable a.

a = 1
print (a)

1

In [ ]:
b = 2
print(b)

2

In [ ]:
#@markdown 📌 Assign 2 to variable b.
b = 2
print (b)

2

In [ ]:
print(a+b)

3

In [ ]:
#@markdown 📌 Use a print function and a Boolean operator +
print(a + b)

3

In [ ]:
c = "I love python"
print(c)

I love python

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'> Strings</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown 📌 Assign a string to a variable c

c = "I love Python"
print (c)

I love Python

In [ ]:
#@markdown 📌 To assign valid variable names
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a = 'Emma' # Be aware that variable a is used two times!
a = 'Emma'

Lori
Sam
Ken
Jen

In [ ]:
print(a)

Emma

In [ ]:
#@markdown 📌 More on printing variables
a = 'Lori'
print(a)

_b = 'Sam'
print(_b)

a_b = 'Ken'
print(a_b)

c_d = 'Jen'
print(c_d)

a= 'Emma'
print(a)          #⏰ Remember the latest varialbe is printed if there is a redundant varialbe name.

Lori
Sam
Ken
Jen
Emma

In [ ]:
#If a variable name assinged with different values is repeated more than once, the most recent one matters.

print (a) #Be aware that variable a is 'EMMA', not 'Lori.'

Emma

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Lists</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown 📌 Assign lists to variables such as d, e, f.

d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"] #Names of planets
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성" ] #행성 이름
f = [1,2,3,4,5,6,7,8]

print (d)
print(e)
print (f)

['Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune']
['수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성']
[1, 2, 3, 4, 5, 6, 7, 8]

In [1]:
d = ["Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune"]
e = ["수성", "금성", "지구", "화성", "목성", "토성", "천황성", " 혜왕성"]
f = [1,2, 3, 4, 5, 6, 7, 8]

#print(d)
#print(e)
#print(f)

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Tuples</front> <font color = 'green'>to varialbes

In [ ]:
#@markdown 📌 Assign tuples to variables such as g, h, i.

g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune") #Names of planets
h = ("수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성" ) #행성 이름
i = (1,2,3,4,5,6,7,8)

print (g)
print(h)
print (i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성')
(1, 2, 3, 4, 5, 6, 7, 8)

In [4]:
g = ("Mercury", "Venus", "Earth", "Mars", "Jupiter", "Saturn", "Uranus", "Neptune")
h = ("수성", "금성", "지구", "화성", "목성", "토성", "천황성", "혜왕성")
i = ("1,2,3,4,5,5,6,7,8")

print (g)
print (h)
print (i)

('Mercury', 'Venus', 'Earth', 'Mars', 'Jupiter', 'Saturn', 'Uranus', 'Neptune')
('수성', '금성', '지구', '화성', '목성', '토성', '천황성', '혜왕성')
1,2,3,4,5,5,6,7,8

## <font color = 'green'> Exercise
### <font color = 'green'>Assigning <font color = 'red'>Dictionaries</front> <font color = 'green'>to varialbes

- [Movement of the solar system on Youtube](https://www.youtube.com/watch?v=0jHsq36_NTU)

In [3]:
#@markdown 📌 Assign dictionary data to variables such as k and m.

k = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구', 'Mars':'화성', 'Jupiter':'목성', 'Saturn':'토성', 'Uranus':'명왕성', 'Neptune':'해왕성'} #key in English: value in Korean

m = {'Mercury 수성':1, 'Venus 금성':2, 'Earth 지구':3, 'Mars 화성':4, 'Jupiter 목성':5, 'Saturn 토성':6, 'Uranus 명왕성':7, 'Neptune 해왕성':8} # i) order of planets from the Sun, ii) key in English and Korean, iii) value in integers

print (k)
print (m)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구', 'Mars': '화성', 'Jupiter': '목성', 'Saturn': '토성', 'Uranus': '명왕성', 'Neptune': '해왕성'}
{'Mercury 수성': 1, 'Venus 금성': 2, 'Earth 지구': 3, 'Mars 화성': 4, 'Jupiter 목성': 5, 'Saturn 토성': 6, 'Uranus 명왕성': 7, 'Neptune 해왕성': 8}

In [ ]:
#@markdown 📌 Print the value of key 'a' ('a' as string data)
dict = {'a':1, 'b':2, 'c':3}
print (dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [ ]:
#@markdown 📌 Replacing a value of your dictionary data with another

dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=7
print (dict)

dict_data = {'c':10, 'b':20, 'a':30}
print(dict_data)
dict_data['a'] = 300
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}
{'c': 10, 'b': 20, 'a': 30}
{'c': 10, 'b': 20, 'a': 300}

In [15]:
dict = {'a':1, 'b':2, 'c':3}

print(dict)

dict['a']=6
print(dict)


dict_data = {'c':10, 'b':30, 'a':100}
print(dict_data)

dict_data['c'] = 200
print(dict_data)

{'a': 1, 'b': 2, 'c': 3}
{'a': 6, 'b': 2, 'c': 3}
{'c': 10, 'b': 30, 'a': 100}
{'c': 200, 'b': 30, 'a': 100}