<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
counter = 1

while counter <= 5:
    print(counter)
    counter += 1

print("Loop finished!")

1
2
3
4
5
Loop finished!

In [ ]:
counter = 1

while counter <= 2:
  print(counter)
  counter += 1

print("finished")

1
2
finished

In [ ]:
counter = 2

while counter <= 3:
  print(counter)
  counter += 1

print("finished")

2
3
finished

In [ ]:
counter = 3

while counter <= 9:
  print(counter)
  counter +=3

print("finished")

3
6
9
finished

In [ ]:
x = 5
x *= 2
print(x)

10

In [ ]:
y = 10
y *= 3
print(y)

30

In [ ]:
z = 4
z *= 3
print(z)

12

0.markdown4 readme

# **How to use <font color = 'red'>markdown language**
* ## For <font color = 'orange'> more syntax </font> of markdown language, [click here](https://www.markdownguide.org/basic-syntax/)

NLP_2024

# **python language**
## **Learning python** using **Colab** ([visit colab homepage](https://colab.research.google.com/?utm_source=scs-index))

link-> colab ([visit colab](https://colab.research.google.com/?utm_source=scs-index))

- exercise
* exercise

| # | sessions | keywords |
|:--:|:--:|:--:|
| 1 | markdown language | [syntax](https://github.com/ms624atyale/NLP_2024/blob/main/0_MarkDown4README_md.ipynb) |

In [ ]:
1.

#@markdown define variable a

a = 1

#@markdown define variable b

b = 2

print(a+b)

#@markdown delete a current code cell

c = 3
print(c)

a = 100

print(a+c)

3
3
103

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

2. five types of data

- interger 정수
- float 부동소수
- complex 복소수
- real number 실수
- rational numbers 유리수
- irrational numbers 무리수

l

- string: "a", 'a', "i love~"
- list: ['a', '1']
- tuple: ('a'. '1')
- dictionary: {'a':3, 'd':1}

In [ ]:
d = ["Mercury", "venus", "Earth"]
e = ["수성", "금성", "지구"]
f = [1,2,3]

print(d)
print(e)
print(f)

['Mercury', 'venus', 'Earth']
['수성', '금성', '지구']
[1, 2, 3]

In [ ]:
k = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구'}
m = {'Mercury 수성':1, 'Venus 금성':2, 'Earth 지구':3}

print(k)
print(m)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구'}
{'Mercury 수성': 1, 'Venus 금성': 2, 'Earth 지구': 3}

**str data**

| str data | I |  | love |  | Python! |
|:--:|:--:|:--:|:--|:--:|:--:|
| forward indexing | 0 | 1 | 2345 | 6 | 7,8,9,10,11,12,13 |
| backward indexing | -14 | -13 | -1211109 | -8 | -7-6-5-4-3-2-1 |

</br>
[1:5] -> 5미만 -> ' lov'

[:5] -> 0부터 5미만 -> 'I lov'


[5:] -> 5부터 끝까지 -> 'e Python!'

[:-3] -> -3 미만 -> 'on!'

[::2] -> 0과 2의 배수 -> 'I lv yh o'

In [1]:
str_data = 'I love python!'
list_data = ['apple', 'banana']
tuple_data = ('apple', 'banana')

print (str_data)
print (list_data)
print (tuple_data)

I love python!
['apple', 'banana']
('apple', 'banana')

In [2]:
strdata = 'Time is Money!'

print(strdata[5])
print(strdata[-1])
print(strdata[0])

i
!
T

In [3]:
str_data = 'time is money!'

print(str_data[1:3])
print(str_data[:2])

im
ti