<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
d = ['Mercury', 'Venus', 'Earth']
e = ["수성", "금성", "지구"]
f = [1,2,3]

print(d)
print(e)
print(f)

['Mercury', 'Venus', 'Earth']
['수성', '금성', '지구']
[1, 2, 3]

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [ ]:
dict = {'a':1, 'b':10, 'c':13}
print(dict)
dict['a']=100
print(dict)

{'a': 1, 'b': 10, 'c': 13}
{'a': 100, 'b': 10, 'c': 13}

In [ ]:
str_data = 'I love python.'
print(str_data[0])
print(str_data[1])
print(str_data[-1])

I

.

In [ ]:
list_data = [1, 2, [1,2,3]]
print(list_data[0])
print(list_data[2][0])

1
1

In [ ]:
str_data = 'Time is Money'
print(str_data[0:2])
print(str_data[:3])
print(str_data[::2])

Ti
Tim
Tm sMny

In [ ]:
strdata1 = 'I love'; strdata2 = 'Python'
print(strdata1 + strdata2)
print(strdata1*4)

I lovePython
I loveI loveI loveI love

In [ ]:
strdata1 = 'I love '; strdata2 = 'Python'
print(strdata1 + strdata2)

I love Python

In [ ]:
strdata1 = "I love"; strdata2 = ' '; strdata3 = 'Python'
print(strdata1+strdata2+strdata3)

I love Python

In [ ]:
subject = 'BTS'; verb = 'sings'; objects = 'butter'
sentence = subject + verb + objects
print(sentence)

BTSsingsbutter

In [ ]:
subject = 'BTS '; verb = 'sings '; objects = 'butter'
sentence = subject + verb + objects
print(sentence)

BTS sings butter

In [ ]:
subject = 'BTS'; verb = 'sings'; objects = 'butter'
sentence = subject + verb + objects
print(sentence)
print(subject+' '+verb+' '+objects)

BTSsingsbutter
BTS sings butter

In [ ]:
str_data = 'I love Python'
print(len(str_data))

13

In [ ]:
x = 100
y = 200

if x > y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [ ]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('a가 listdata 안에 있습니다')
  print(listdata)

a가 listdata 안에 있습니다
['a', 'b', 'c']

In [ ]:
numbers = (1,2,3,4,5,6,7,8,9)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)

1
2
3
4
5

In [ ]:
class1 = ['sam', 'emily', 'tom']

for i in class1:
  print(i)

sam
emily
tom

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(0):
  print(i)

type(i)

int

In [ ]:
string = 'abcde'

for c in string:
  print(c)

a
b
c
d
e

In [ ]:
list_fruit = ["apple", "banana", "pear", "mango"]

for i in list_fruit:
  print(i)

apple
banana
pear
mango

In [ ]:
list_int = [1,2,3,4,5]

for i in list_int:
  print(i)

print(list_int[0])
print(list_int[-1])
print([0])

1
2
3
4
5
1
5
[0]

In [ ]:
printdict1 = {'a':100, 'b':200, 'c':300}

for i in printdict1:
  print(i)

a
b
c

In [ ]:
print(printdict1['a'])
print(printdict1['b'])
print(printdict1['c'])

100
200
300

In [ ]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)
  if i<3:
    continue
  else:
    break

1
2
3

In [ ]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)

else:
  print('Perfect')

1
2
3
4
5
Perfect

In [ ]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)
  if i<2:
    continue
  else:
    break

1
2

In [ ]:
list = [1,2,3]

for i in list:
  print(i)
  break
else:
  print('perfect')

1

In [ ]:
try:
  print('How are you?')
  print(param)

except:
  print('Exception occurred')

How are you?
Exception occurred

In [ ]:
try:
  print('How are you?')

except:
  print('Exception occurred')

How are you?

In [ ]:
try:
  print('How are you?')

except:
  print('Exception occurred')

else:
  print('Except did not occur')

How are you?
Except did not occur

In [ ]:
try:
  print('How are you?')

except:
  print('Exception occurred')

finally:
  print('This code should be running')

How are you?
This code should be running

In [ ]:
counter = 1

while counter <= 5:
  print(counter)
  counter += 1

print("Loop finished")

1
2
3
4
5
Loop finished

In [ ]:
x = 4
x *=2
print(x)

8

In [ ]:
import re

text = "cat, hat, mat, sat, combat"
pattern = r".at"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

print('\n')

for match in matches:
  print("Match:", match)

Match: cat
Match: hat
Match: mat
Match: sat
Match: bat


Match: cat
Match: hat
Match: mat
Match: sat
Match: bat

In [ ]:
import re

text = "color or colour?"
pattern = r"colou?r"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: color
Match: colour

In [ ]:
import re

text = "ab, ac, abc, abbc, aabbc, abbbbbc, abkc"
pattenr = r"ab*c"

matches = re.findall(pattenr, text)

for i in matches:
  print("Match:", i)

Match: ac
Match: abc
Match: abbc
Match: abbc
Match: abbbbbc

In [ ]:
import re

text = "cat, caat, hat, set"
pattern = r"ca+t"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: cat
Match: caat

In [ ]:
import re

text = "cat, caat, caaat, sat, set"
pattern = r"a+t"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: at
Match: aat
Match: aaat
Match: at

In [ ]:
import re

text = "Python is a popular programming language. Python is versatile!"
pattern = r'versatile!$'

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: versatile!

In [ ]:
import re

text = "Python is a popular programming language. Python is versatile."
pattern = r'e.$'

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: e.

In [ ]:
import re

text = "!Python is a programming language. Python is versatile. We all love Python."
pattern = r'^!Python'

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: !Python

In [ ]:
import re

text = "123 4567 89 12345"
pattern = r"\d{3}"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 123
Match: 456
Match: 123

In [ ]:
import re

text = "The numbers are 12345678999, 12345, 987, and 56789"
pattern = r"\d{3,5}"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 12345
Match: 67899
Match: 12345
Match: 987
Match: 56789

In [ ]:
import re

text = "The word 'hello' is repeated many times: hello hello hello hello hello"
pattern = r"(hello ){2,}"

matches = re.findall(pattern, text)

for i in matches:
  print("match:", i)

match: hello

In [ ]:
import re

text = "The word 'hello' is repeated many times: hellohellohellohellohello hellohellohellohellohello hellohellohellohellohello"
pattern = r"(hello){2,}"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: hello
Match: hello
Match: hello

In [ ]:
text = "The price is $100."
pattern = r"[1234567890]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 1
Match: 0
Match: 0

In [ ]:
text = "The price is $100."
pattern = r"[\d]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:, i")

Match:, i
Match:, i
Match:, i

In [ ]:
text = "The price is $100."
pattern = r"[\d]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 1
Match: 0
Match: 0

In [ ]:
text = "The price is $100."
pattern = r"[es]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: e
Match: e
Match: s

In [ ]:
text = "The price is $100."
pattern = r"[ps]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: p
Match: s

In [ ]:
text = "The price is $100."
pattern = r"[es\d]"

matches = re.findall(pattern, text)

for i in matches:
  print("Math:", i)

Math: e
Math: e
Math: s
Math: 1
Math: 0
Math: 0

In [ ]:
import re

text = "I have an apple and a monkey in the kichen."
pattern = r"[amk]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: a
Match: a
Match: a
Match: a
Match: a
Match: m
Match: k
Match: k

In [ ]:
import re

text = "The price is $100."
pattern1 = r"\d"
pattern2 = r"es"

print(pattern1)
print('\n')
print(pattern2)
print('\n')

matches1 = re.findall(pattern1, text)
for i in matches:
  print("Match1:", i)

matches2 = re.findall(pattern2, text)
for i in matches:
  print("Match2:, i")

\d


es


Match1: a
Match1: a
Match1: a
Match1: a
Match1: a
Match1: m
Match1: k
Match1: k
Match2:, i
Match2:, i
Match2:, i
Match2:, i
Match2:, i
Match2:, i
Match2:, i
Match2:, i

In [ ]:
import re

text = "The quick brown fox jumps over the lazy dog."
pattern = r"[a-z]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: h
Match: e
Match: q
Match: u
Match: i
Match: c
Match: k
Match: b
Match: r
Match: o
Match: w
Match: n
Match: f
Match: o
Match: x
Match: j
Match: u
Match: m
Match: p
Match: s
Match: o
Match: v
Match: e
Match: r
Match: t
Match: h
Match: e
Match: l
Match: a
Match: z
Match: y
Match: d
Match: o
Match: g

In [ ]:
import re

text = "\"The book titles are 'The Aesop for Children', 'Harry Potter', and 'Pride and Prejudice',\" said Amelia."

pattern = r"[A-Z]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: T
Match: T
Match: A
Match: C
Match: H
Match: P
Match: P
Match: P
Match: A

In [ ]:
import re

text = "New York is a wonderful city."
pattern = r"[a-zA-Z]"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: N
Match: e
Match: w
Match: Y
Match: o
Match: r
Match: k
Match: i
Match: s
Match: a
Match: w
Match: o
Match: n
Match: d
Match: e
Match: r
Match: f
Match: u
Match: l
Match: c
Match: i
Match: t
Match: y

In [ ]:
import re

text = "24 Hours a Day,\n7 Days a Week,\n & \t 365 Days a Year!"

pattern = r"[^a-zA-Z0-9]"  #알파벳(대소문자 구분 없이)과 숫자를 제외한 모든 문자를 찾을 때 사용 (e.g., white space, punctuations, escape characters (e.g., \n, \t), etc.)

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match:
Match:
Match:
Match: ,
Match:

Match:
Match:
Match:
Match: ,
Match:

Match:
Match: &
Match:
Match:
Match:
Match:
Match:
Match:
Match: !

In [23]:
import re

text = "The color can be either red, green, or blue."
pattern = r"(red|blue)"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: red
Match: blue