<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 100
y = 110

if x>y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [ ]:
x = 10
y = 100

if x > y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal y.')

x is smaller than or equal y.

In [ ]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('a가 listdata 안에 있습니다.')
  print(listdata)

a가 listdata 안에 있습니다.
['a', 'b', 'c']

In [ ]:
numbers = (1,2,3,4,5,6,7,8,9)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
scope = [1,2,3,4,5]

for y in scope:
  print(y)

1
2
3
4
5

In [ ]:
name = ['Sam', 'Emily', 'Todd']

for i in name:
  print(i)

Sam
Emily
Todd

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3):
  print(i)

type(i)

0
1
2

int

In [ ]:
string = 'abcde'

for i in string:
  print(i)

a
b
c
d
e

In [ ]:
list_fruit = ["apple", "banana", "pear"]

for i in list_fruit:
  print(i)

apple
banana
pear

In [ ]:
list_int = [1,2,3,4,5]

for i in list_int:
  print(i)

1
2
3
4
5

In [ ]:
print(list_int[0])
print(list_int[1])

1
2

In [ ]:
printdict1 = {'a':10, 'b':20, 'c':30}

for i in printdict1:
  print(i)

a
b
c

In [ ]:
print(printdict1['a'])

10

In [1]:
try:
  print('How are you?')
  print(param)

except:
  print('Exception occurred.')

How are you?
Exception occurred.

In [2]:
try:
  print('How are you?')

except:
  print('Exception occurred.')

How are you?

In [4]:
try:
  print('How are you?')

except:
  print('Exception occurred.')

else:
  print('Exception did not occur.')

How are you?
Exception did not occur.

In [7]:
try:
  print('How are you?')
  print(param)

except:
  print('Exception occurred.')

else:
  print('Exception did not occur.')

How are you?
Exception occurred.

In [8]:
try:
  print('How are you?')

except:
  print('Exception occured.')

finally:
  print('This code should be running.')

How are you?
This code should be running.

In [9]:
try:
  print('How are you?')
  print(param)

except:
  print('Exception occurred.')

finally:
  print('This code should be running.')

How are you?
Exception occurred.
This code should be running.

In [10]:
counter = 1

while counter <= 5:
  print(counter)
  counter += 1

1
2
3
4
5

In [15]:
counter = 1

while counter <= 10:
  print(counter)
  counter += 1

1
2
3
4
5
6
7
8
9
10

In [16]:
counter = 2

while counter <= 10:
  print(counter)
  counter += 1

2
3
4
5
6
7
8
9
10