<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
x = 100
y = 110

if x>y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [ ]:
x = 10
y = 100

if x > y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal y.')

x is smaller than or equal y.

In [ ]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('aÍ∞Ä listdata ÏïàÏóê ÏûàÏäµÎãàÎã§.')
  print(listdata)

aÍ∞Ä listdata ÏïàÏóê ÏûàÏäµÎãàÎã§.
['a', 'b', 'c']

In [ ]:
numbers = (1,2,3,4,5,6,7,8,9)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
scope = [1,2,3,4,5]

for y in scope:
  print(y)

1
2
3
4
5

In [ ]:
name = ['Sam', 'Emily', 'Todd']

for i in name:
  print(i)

Sam
Emily
Todd

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
for i in range(3):
  print(i)

type(i)

0
1
2

int

In [ ]:
string = 'abcde'

for i in string:
  print(i)

a
b
c
d
e

In [ ]:
list_fruit = ["apple", "banana", "pear"]

for i in list_fruit:
  print(i)

apple
banana
pear

In [ ]:
list_int = [1,2,3,4,5]

for i in list_int:
  print(i)

1
2
3
4
5

In [ ]:
print(list_int[0])
print(list_int[1])

1
2

In [ ]:
printdict1 = {'a':10, 'b':20, 'c':30}

for i in printdict1:
  print(i)

a
b
c

In [ ]:
print(printdict1['a'])

10

In [ ]:
try:
  print('How are you?')
  print(param)

except:
  print('Exception occurred.')

How are you?
Exception occurred.

In [ ]:
try:
  print('How are you?')

except:
  print('Exception occurred.')

How are you?

In [ ]:
try:
  print('How are you?')

except:
  print('Exception occurred.')

else:
  print('Exception did not occur.')

How are you?
Exception did not occur.

In [ ]:
try:
  print('How are you?')
  print(param)

except:
  print('Exception occurred.')

else:
  print('Exception did not occur.')

How are you?
Exception occurred.

In [ ]:
try:
  print('How are you?')

except:
  print('Exception occured.')

finally:
  print('This code should be running.')

How are you?
This code should be running.

In [ ]:
try:
  print('How are you?')
  print(param)

except:
  print('Exception occurred.')

finally:
  print('This code should be running.')

How are you?
Exception occurred.
This code should be running.

In [ ]:
counter = 1

while counter <= 5:
  print(counter)
  counter += 1

1
2
3
4
5

In [ ]:
counter = 1

while counter <= 10:
  print(counter)
  counter += 1

1
2
3
4
5
6
7
8
9
10

In [ ]:
counter = 2

while counter <= 10:
  print(counter)
  counter += 1

2
3
4
5
6
7
8
9
10

In [ ]:
x = 100
y = 200

if x > y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [ ]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('aÍ∞Ä listdata ÏïàÏóê ÏûàÏäµÎãàÎã§.')
  print(listdata)

aÍ∞Ä listdata ÏïàÏóê ÏûàÏäµÎãàÎã§.
['a', 'b', 'c']

In [ ]:
numbers = (1,2,3,4,5,6,7,8,9)

for z in numbers:
  print(z)

1
2
3
4
5
6
7
8
9

In [ ]:
numbers = (1,2,3)

for i in numbers:
  print(i)

1
2
3

In [ ]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)

1
2
3
4
5

In [ ]:
name = ['todd', 'emily']

for i in name:
  print(i)

todd
emily

In [ ]:
for i in range(3):
  print(i)

0
1
2

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
string = 'aaa'

for c in string:
  print(c)

a
a
a

In [ ]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
string = 'aabb'

for i in string:
  print(i)

a
a
b
b

In [ ]:
list_fruit = ["apple", "banana", "pear"]

for i in list_fruit:
  print(i)

apple
banana
pear

In [ ]:
list_int = [1,2,3,4,5]

for c in list_int:
  print(c)

1
2
3
4
5

In [ ]:
print(list_int[0])

1

In [ ]:
print(list_int[2])

3

In [ ]:
printdict1 = {'a':100, 'b':200}

for i in printdict1:
  print(i)

a
b

In [ ]:
print(printdict1['a'])

100

In [ ]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)
  if i < 3:
    continue
  else:
    break

1
2
3

In [ ]:
scope = [1,2,3,4]

for i in scope:
  print(i)
else:
  print('perfect')

1
2
3
4
perfect

In [ ]:
try:
  print('How are you?')
  print(param)

except:
  print('Exception occurred.')

How are you?
Exception occurred.

In [ ]:
try:
  print('How are you?')

except:
  print('Exception occurred.')

else:
  print('Exception did not occur.')

How are you?
Exception did not occur.

In [ ]:
try:
  print('How are you?')

except:
  print('Exception occurred.')

finally:
  print('This code should be running.')

How are you?
This code should be running.

In [ ]:
counter = 1

while counter <= 10:
  print(counter)
  counter += 1

print("Loop finished!")

1
2
3
4
5
6
7
8
9
10
Loop finished!

In [ ]:
counter = 1

while counter <= 5:
  print(counter)
  counter += 1

1
2
3
4
5

In [ ]:
counter = 1

while counter <= 10:
  print(counter)
  counter += 1

1
2
3
4
5
6
7
8
9
10

# **How to use <font color = 'red'> Markdown language**
* ## For <font color = 'orange'> more syntax</font> of markdown language, [click here.](https://www.markdownguide.org/basic-syntax/)


[click here](https://www.markdownguide.org/basic-syntax/)

colab([visit colab homepage](https://colab.research.google.com/?utm_source=scs-index))





# NLP 2024

# **Python language**


| # | sessions | keywords |
|:--:|:--:|:--:|
|1|markdown language|[syntax](https://www.markdownguide.org/basic-syntax/)|

| # | sessions | keywords |
|:--:|:--:|:--:|
|1|markdown languageüòä|[syntax](https://www.markdownguide.org/basic-syntax/)|

In [1]:
a = 10
b = 100

print(a + b)

110

In [2]:
c = 30

print(c)

30

In [3]:
a = 20
print(a + b + c)

150

In [4]:
c = 'I love python'
print(c)

I love python

In [5]:
d = ['mercury', 'venus','earth' ]
e = ['ÏàòÏÑ±', 'Í∏àÏÑ±', 'ÏßÄÍµ¨']
f = [1,2,3]

print(d)
print(e)
print(f)

['mercury', 'venus', 'earth']
['ÏàòÏÑ±', 'Í∏àÏÑ±', 'ÏßÄÍµ¨']
[1, 2, 3]

In [6]:
dict = {'a':1}
print(dict)
print(dict['a'])

{'a': 1}
1

In [7]:
dict = {'a':1, 'b':10, 'c':30}
dict['a'] = 5
print(dict)

{'a': 5, 'b': 10, 'c': 30}

In [8]:
str_data = 'I love python'

print(str_data[0])
print(str_data[1])

I

In [11]:
str_data = 'I love python'
print(str_data[1:5])
print(str_data[2:])
print(str_data[:2])

 lov
love python
I