<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **How to Use <font color = 'red'> Markdown language**
* ## For <font color = 'orange'> more syntax </font> of markdown language, [click here.](https://www.markdownguide.org/basic-syntax/)

In [1]:
a = 10
print(a)

10

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [4]:
a = 1
print(a)

b = 100
print(b)

print(a*b)

1
100
100

In [5]:
c = "I love Python."

print(c)

I love Python.

In [6]:
a = 'sam'
b = 'emily'

print(a)
print(b)

a = 'tom'
print(a)

sam
emily
tom

In [8]:
d = ["Mercury", "Venus", "Earth"]
e = ["수성", "금성", "지구"]
f = [1,2,3]

print(d)
print(e)
print(f)

['Mercury', 'Venus', 'Earth']
['수성', '금성', '지구']
[1, 2, 3]

In [10]:
d = ("Mercury", "Venus", "Earth")
e = ("수성", "금성", "지구")
f = (1,2,3)

print(d)
print(e)
print(f)

('Mercury', 'Venus', 'Earth')
('수성', '금성', '지구')
(1, 2, 3)

In [11]:
k = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구'}
m = {'Mercury 수성':1, 'Venus 금성':2, 'Earth 지구':3}

print(k)
print(m)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구'}
{'Mercury 수성': 1, 'Venus 금성': 2, 'Earth 지구': 3}

In [12]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [13]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)
dict['a']=7
print(dict)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|


| str data |   | l | o | v |
|:---------|:--|:--|:--|:-:|
| Forward Indexing | 1 | 2 | 3 | 4 |

| str data |   | l | o | v |
|:---------|:--|:--|:--|:--:|

In [14]:
str_data = 'I love Python'
list_data = ['apple', 'mango']
tuple_data = ('apple', 'mango')

print(str_data)
print(list_data)
print(tuple_data)

I love Python
['apple', 'mango']
('apple', 'mango')

In [15]:
str_data = 'I love Python'
print(str_data[0])
print(str_data[1])
print(str_data[-1])
print(str_data[8])

I

n
y

In [16]:
listdata = [1,2, [1,2,3]]
print(listdata[0])
print(listdata[2][0])

1
1

In [17]:
str_data = 'Time is money!!'

print(str_data[0])
print(str_data[1:5])
print(str_data[:5])
print(str_data[5:])
print(str_data[::2])
print(str_data[:])

T
ime
Time
is money!!
Tm smny!
Time is money!!

In [19]:
strdata1 = 'i love'; strdata2 = 'python'
print(strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

In [22]:
strdata1 = 'i love '; strdata2 = 'python'
print(strdata1 + strdata2)
print(strdata1*5)

i love python
i love i love i love i love i love

In [24]:
strdata1 = 'i love '; strdata2 = 'python'; strdata3 = ' '
print(strdata1 +strdata3+ strdata2)
print(strdata1*5)

i love  python
i love i love i love i love i love

In [25]:
subject = 'BTS'; verb = 'sings'; object = 'butter'
sentence = subject+verb+object
print(sentence)

BTSsingsbutter

In [26]:
subject = 'BTS'; verb = 'sings'; object = 'butter'; strdata = ' '
sentence = subject+strdata+verb+strdata+object
print(sentence)

BTS sings butter

In [27]:
str_data = 'I love Python'
print(len(str_data))

13