<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
d = ['Mercury', 'Venus', 'Earth']
e = ["수성", "금성", "지구"]
f = [1,2,3]

print(d)
print(e)
print(f)

['Mercury', 'Venus', 'Earth']
['수성', '금성', '지구']
[1, 2, 3]

In [2]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [3]:
dict = {'a':1, 'b':10, 'c':13}
print(dict)
dict['a']=100
print(dict)

{'a': 1, 'b': 10, 'c': 13}
{'a': 100, 'b': 10, 'c': 13}

In [6]:
str_data = 'I love python.'
print(str_data[0])
print(str_data[1])
print(str_data[-1])

I

.

In [7]:
list_data = [1, 2, [1,2,3]]
print(list_data[0])
print(list_data[2][0])

1
1

In [8]:
str_data = 'Time is Money'
print(str_data[0:2])
print(str_data[:3])
print(str_data[::2])

Ti
Tim
Tm sMny

In [ ]:
3과 시퀀스 반복부터