<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **How to Use <font color = 'red'> Markdown language**
* ## For <font color = 'orange'> more syntax </font> of markdown language, [click here.](https://www.markdownguide.org/basic-syntax/)

In [ ]:
a = 10
print(a)

10

In [ ]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [ ]:
a = 1
print(a)

b = 100
print(b)

print(a*b)

1
100
100

In [ ]:
c = "I love Python."

print(c)

I love Python.

In [ ]:
a = 'sam'
b = 'emily'

print(a)
print(b)

a = 'tom'
print(a)

sam
emily
tom

In [ ]:
d = ["Mercury", "Venus", "Earth"]
e = ["수성", "금성", "지구"]
f = [1,2,3]

print(d)
print(e)
print(f)

['Mercury', 'Venus', 'Earth']
['수성', '금성', '지구']
[1, 2, 3]

In [ ]:
d = ("Mercury", "Venus", "Earth")
e = ("수성", "금성", "지구")
f = (1,2,3)

print(d)
print(e)
print(f)

('Mercury', 'Venus', 'Earth')
('수성', '금성', '지구')
(1, 2, 3)

In [ ]:
k = {'Mercury':'수성', 'Venus':'금성', 'Earth':'지구'}
m = {'Mercury 수성':1, 'Venus 금성':2, 'Earth 지구':3}

print(k)
print(m)

{'Mercury': '수성', 'Venus': '금성', 'Earth': '지구'}
{'Mercury 수성': 1, 'Venus 금성': 2, 'Earth 지구': 3}

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)
print(dict['a'])

{'a': 1, 'b': 2, 'c': 3}
1

In [ ]:
dict = {'a':1, 'b':2, 'c':3}
print(dict)
dict['a']=7
print(dict)

{'a': 1, 'b': 2, 'c': 3}
{'a': 7, 'b': 2, 'c': 3}

| str data | I |   | l | o | v | e |  | P | y | t | h | o |n | ! |
|:---------|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:--|:-|:-|:-:|
| Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5 | 6 | 7 | 8 | 9 | 10| 11| 12|13|
| Backward Indexing|-14| -13| -12| -11| -10| -9| -8| -7| -6| -5| -4| -3| -2|-1|


| str data |   | l | o | v |
|:---------|:--|:--|:--|:-:|
| Forward Indexing | 1 | 2 | 3 | 4 |

| str data |   | l | o | v |
|:---------|:--|:--|:--|:--:|

In [ ]:
str_data = 'I love Python'
list_data = ['apple', 'mango']
tuple_data = ('apple', 'mango')

print(str_data)
print(list_data)
print(tuple_data)

I love Python
['apple', 'mango']
('apple', 'mango')

In [ ]:
str_data = 'I love Python'
print(str_data[0])
print(str_data[1])
print(str_data[-1])
print(str_data[8])

I

n
y

In [ ]:
listdata = [1,2, [1,2,3]]
print(listdata[0])
print(listdata[2][0])

1
1

In [ ]:
str_data = 'Time is money!!'

print(str_data[0])
print(str_data[1:5])
print(str_data[:5])
print(str_data[5:])
print(str_data[::2])
print(str_data[:])

T
ime
Time
is money!!
Tm smny!
Time is money!!

In [ ]:
strdata1 = 'i love'; strdata2 = 'python'
print(strdata1 + strdata2)
print(strdata1*5)

I lovePython
I loveI loveI loveI loveI love

In [ ]:
strdata1 = 'i love '; strdata2 = 'python'
print(strdata1 + strdata2)
print(strdata1*5)

i love python
i love i love i love i love i love

In [ ]:
strdata1 = 'i love '; strdata2 = 'python'; strdata3 = ' '
print(strdata1 +strdata3+ strdata2)
print(strdata1*5)

i love  python
i love i love i love i love i love

In [ ]:
subject = 'BTS'; verb = 'sings'; object = 'butter'
sentence = subject+verb+object
print(sentence)

BTSsingsbutter

In [ ]:
subject = 'BTS'; verb = 'sings'; object = 'butter'; strdata = ' '
sentence = subject+strdata+verb+strdata+object
print(sentence)

BTS sings butter

In [ ]:
str_data = 'I love Python'
print(len(str_data))

13

In [28]:
x = 100
y = 200

if x>y:
  print('x is greater than y')
else:
  print('x is smaller than or equal to y')

x is smaller than or equal to y

In [30]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('a가 listdata 안에 있다')

a가 listdata 안에 있다

In [32]:
numbers = (1,2,3,4,5,6,7,8,9)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [33]:
scope = [1,2,3,4,5]
for i in scope:
  print(i)

1
2
3
4
5

In [36]:
class1 = ['sam', 'tom']

for i in class1:
  print(i)

sam
tom

In [37]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [39]:
for i in range(10):
  print(i)

type(i)

0
1
2
3
4
5
6
7
8
9

int

In [40]:
string = 'abcde'

for i in string:
  print(i)

a
b
c
d
e

In [41]:
list_fruit = ["apple", "mango", "pear"]

for i in list_fruit:
  print(i)

apple
mango
pear

In [42]:
list_int = [1,2,3,4,5]

for i in list_int:
  print(i)

1
2
3
4
5

In [43]:
print(list_int[0])
print(list_int[1])

1
2

In [44]:
printdict1 = {'a':1, 'b':10, 'c':100}

for i in printdict1:
  print(i)

a
b
c

In [45]:
printdict1 = {'a':1, 'b':10, 'c':100}

print(printdict1['a'])
print(printdict1['b'])

1
10

In [46]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)
  if i<3:
    continue
  else:
    break

1
2
3

In [48]:
list = [1,2,3]

for i in list:
  print(i)
  break
else:
  print('Perfect')

1

In [49]:
try:
  print("How are you?")
  print(param)

except:
  print('Exception occurred')

How are you?
Exception occurred

In [50]:
try:
  print("How are you?")

except:
  print('Exception occurred')

How are you?

In [52]:
try:
  print("How are you?")

except:
  print('Exception occurred')

else:
  print('Exception did not occur')

How are you?
Exception did not occur

In [53]:
try:
  print("How are you?")
  print(param)

except:
  print("Exception occurred")

finally:
  print('This code should be running')

How are you?
Exception occurred
This code should be running

In [56]:
counter = 1
while counter <= 5:
  print(counter)
  counter += 1

1
2
3
4
5

In [57]:
x = 5
x *= 2
print(x)

10

In [58]:
!pip install nltk

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.5)

In [59]:
import nltk
from nltk.tokenize import word_tokenize, sent_tokenize
nltk.download("punkt")

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [60]:
import os
os.mkdir("txtfolder2")

In [61]:
!pip install nltk
text = "Python programming is a high-level, interpreted programming language known for its simplicity and readability. It emphasizes code readability with its clean syntax, making it easier to write and understand. Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming. It has a vast standard library and a thriving ecosystem of third-party libraries and frameworks, making it suitable for various domains such as web development, data analysis, machine learning, and automation. Python's versatility, ease of use, and extensive community support have contributed to its popularity among developers of all skill levels."
from nltk.tokenize import sent_tokenize
sentence = sent_tokenize(text)
print('문장 토큰화: %s' %sentence)

Requirement already satisfied: nltk in /usr/local/lib/python3.10/dist-packages (3.8.1)
Requirement already satisfied: click in /usr/local/lib/python3.10/dist-packages (from nltk) (8.1.7)
Requirement already satisfied: joblib in /usr/local/lib/python3.10/dist-packages (from nltk) (1.4.2)
Requirement already satisfied: regex>=2021.8.3 in /usr/local/lib/python3.10/dist-packages (from nltk) (2024.9.11)
Requirement already satisfied: tqdm in /usr/local/lib/python3.10/dist-packages (from nltk) (4.66.5)
문장 토큰화: ['Python programming is a high-level, interpreted programming language known for its simplicity and readability.', 'It emphasizes code readability with its clean syntax, making it easier to write and understand.', 'Python supports multiple programming paradigms, including procedural, object-oriented, and functional programming.', 'It has a vast standard library and a thriving ecosystem of third-party libraries and frameworks, making it suitable for various domains such as web development, data analysis, machine learning, and automation.', "Python's versatility, ease of use, and extensive community support have contributed to its popularity among developers of all skill levels."]

In [62]:
import re

text = "cat, hat, bat, sat, set, combat"
pattern = r".at"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

print('\n')

for match in matches:
  print("Match:", match)

Match: cat
Match: hat
Match: bat
Match: sat
Match: bat


Match: cat
Match: hat
Match: bat
Match: sat
Match: bat

In [63]:
text = ['cat', 'hat', 'sat', 'combat']
pattern = r".at"

matches = re.findall(pattern, text)

for i in matches:
  print(i)

TypeError: expected string or bytes-like object

In [66]:
import re

text = "color or colour"
pattern = r"colou?r"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: color
Match: colour

In [67]:
text = "color, colour, or coloer?"
pattern = r"colou?r"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: color
Match: colour

In [69]:
import re

text = "ab, abc, ac, abbc, aabbc, abbbbbc, abkc"
pattern = r"ab*c"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: abc
Match: ac
Match: abbc
Match: abbc
Match: abbbbbc

In [70]:
import re

text = "cat, caat, caaat, caot, sat"
pattern = r"ca+t"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: cat
Match: caat
Match: caaat

In [71]:
import re

text = "Python is a popular programming language. Python is versatile!"
pattern = r'versatile.$'

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: versatile!

In [72]:
import re

text = "Python is a popular programming language. Python is versatile."
pattern = r'e.$'

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: e.

In [78]:
import re

text = "Python is a programming language. Python is versatile. We all love Python."
pattern = r'^Python'

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: Python

In [79]:
import re

text = "123 4567 89 12345"
pattern = r"\d{3}"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 123
Match: 456
Match: 123

In [94]:
import re

text1 = "123 4567 89 12345"
pattern = r"\d{3}"

matches = re.findall(pattern, text1)

for i in matches:
  print("Match:", i)

Match: 123
Match: 456
Match: 123

In [91]:
import re

text2 = "The numbers are 12345678999, 12345, 987, and 56789."
pattern = r"\d{3,5}"

matches = re.findall(pattern, text2)

for i in matches:
  print("Match:", i)

Match: 12345
Match: 67899
Match: 12345
Match: 987
Match: 56789

In [89]:
import re

text = "The numbers are 12345678999, 12345, 987, and 56789."
pattern = r"\d{3,5}"

matches = re.findall(pattern, text)

for i in matches:
    print("Match:", i)

Match: 12345
Match: 67899
Match: 12345
Match: 987
Match: 56789

In [97]:
import re

text = "The word 'hello' is repeated many times: hello hello hello hello"
pattern = r"(hello ){2,}"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: hello

In [102]:
import re

text = "The word 'hello' is repeated many times: hellohellohellohello hellohellohellohello"
pattern = r"(hello){2,}"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: hello
Match: hello

In [103]:
text = "The price is $100."
pattern = r"[1234567890]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 1
Match: 0
Match: 0

In [104]:
text = "The price is $100."
pattern = r"[\d]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: 1
Match: 0
Match: 0

In [105]:
import re

text = "I have an apple and a monkey in the kichen."
pattern = r"[amk]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: a
Match: a
Match: a
Match: a
Match: a
Match: m
Match: k
Match: k

In [107]:
import re

text = "The price is $100."
pattern1 = r"\d"
pattern2 = r"es"

print(pattern1)
print('\n')
print(pattern2)
print('\n')

matches1 = re.findall(pattern1, text)
for i in matches:
  print("Match1:", i)

matches2 = re.findall(pattern2, text)
for i in matches:
  print("Match2:", i)

\d


es


Match1: a
Match1: a
Match1: a
Match1: a
Match1: a
Match1: m
Match1: k
Match1: k
Match2: a
Match2: a
Match2: a
Match2: a
Match2: a
Match2: m
Match2: k
Match2: k

In [109]:
import re

text = "The price is $100."
pattern1 = r"[\d]"
pattern2 = r"[es]"

print(pattern1)
print('\n')
print(pattern2)
print('\n')


matches1 = re.findall(pattern1, text)
for i in matches1:
    print("Match1:", i)


matches2 = re.findall(pattern2, text)
for i in matches2:
    print("Match2:", i)

[\d]


[es]


Match1: 1
Match1: 0
Match1: 0
Match2: e
Match2: e
Match2: s

In [112]:
import re

text = "The quick brown fox jumps over thr lazy dog."
pattern = r"[a-zA-Z]"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: T
Match: h
Match: e
Match: q
Match: u
Match: i
Match: c
Match: k
Match: b
Match: r
Match: o
Match: w
Match: n
Match: f
Match: o
Match: x
Match: j
Match: u
Match: m
Match: p
Match: s
Match: o
Match: v
Match: e
Match: r
Match: t
Match: h
Match: r
Match: l
Match: a
Match: z
Match: y
Match: d
Match: o
Match: g

In [113]:
import re

text = "The color can be either red, green, or blue."
pattern = r"(red|blue)"

matches = re.findall(pattern, text)

for i in matches:
  print("Match:", i)

Match: red
Match: blue

In [114]:
import re

text = "It cost me $715.45 and more."

pattern1 = r"more.$"
pattern2 = r"\$*7"

matches1 = re.findall(pattern1, text)
matches2 = re.findall(pattern2, text)

for i in matches1:
  print("Match1:", i)

for i in matches2:
  print("Match2:", i)

Match1: more.
Match2: $7