<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
def add_txt(t1, t2):
  t_result = t1 + t2
  return t_result

In [ ]:
def add_txt(t1, t2):
  result = t1 + t2
  return result

text1 = "Hello, "
text2 = "World!"

combined_text = add_txt(text1, text2)

print(combined_text)

Hello, World!

In [ ]:
def add_txt(t1, t2):
  result = t1 + t2

text1 = "Hello, "
text2 = "World!"

combined_text = add_txt(text1, text2)

print(combined_text)

None

In [ ]:
def add_number(n1, n2):
  n_result = (n1 + n2)
  return n_result

In [ ]:
def add_number(n1, n2):
  n_result = n1 + n2
  return n_result

num1 = 10
num2 = 20

add_nums = add_number(num1, num2)
print(add_nums)

30

In [ ]:
def add_number(n1, n2):
  result = n1 + n2

num1 = 10
num2 = 100

add_nums = add_number(num1, num2)

print(add_nums)

None

In [1]:
def add_txt(t1, t2):
  t_result = t1+t2
  return t_result

In [2]:
def add_txt(t1, t2):
  result = t1 + t2
  return result

text1 = "Hi, "
text2 = "Tom!"

combined_text = add_txt(text1, text2)

print(combined_text)

Hi, Tom!

In [3]:
def add_txt(t1, t2):
  result = t1 + t2

text1 = "Hi, "
text2 = "Tom!"

combined_text = add_txt(text1, text2)

print(combined_text)

None

In [4]:
def add_number(n1, n2):
  n_result = n1 + n2
  return n_result

In [6]:
def add_number(n1, n2):
  n_result = n1 + n2
  return n_result

num1 = 10
num2 = 100

add_nums = add_number(num1, num2)
print(add_nums)

110

In [8]:
name = 'Tom'
score = 90
age = 18

test_result = "You scored %d on the test." %score
print(test_result)

greeting = "Hello, %s! You turn to finally %d tears old finally." %(name, age)
print(greeting)
print('\n')

print("You scored %d on the test." %score)
print("Hello, %s! You turn to finally %d  years old finally." %(name, age))

You scored 90 on the test.
Hello, Tom! You turn to finally 18 tears old finally.


You scored 90 on the test.
Hello, Tom! You turn to finally 18  years old finally.

In [9]:
def add(a, b):
  result = a + b
  return result

num1 = 10
num2 = 20

sum_result = add(num1, num2)

print("The sum of %d and %d is %d" %(num1, num2, sum_result))

The sum of 10 and 20 is 30

In [11]:
def add_and_print(a, b):
  result = a + b
  print("The sum of %d and %d is %d." %(a, b, result))
  return result

sum_result = add_and_print(10, 20)

The sum of 10 and 20 is 30.

In [15]:

def add_txt1(t1, t2='Python'):
  print(t1, ':', t2)

add_txt1('Best')
add_txt1(t1='My friend', t2='Python')
add_txt1(t1='My Buddy')

Best : Python
My friend : Python
My Buddy : Python

In [17]:
def func_uncertain(*args):
  print(args)

func_uncertain()

func_uncertain(1,2,3)
func_uncertain('apple', 'banana', 'mango')
func_uncertain(True)

()
(1, 2, 3)
('apple', 'banana', 'mango')
(True,)

In [18]:
def func_kwa(width, height, **kwargs):
  print(kwargs)

func_kwa(10, 30)
func_kwa(10, 30, depth=40, color='blue')

{}
{'depth': 40, 'color': 'blue'}