<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/practice3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
x = 100
y = 110

if x>y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal to y.')

x is smaller than or equal to y.

In [3]:
x = 10
y = 100

if x > y:
  print('x is greater than y.')

else:
  print('x is smaller than or equal y.')

x is smaller than or equal y.

In [5]:
listdata = ['a', 'b', 'c']
if 'a' in listdata:
  print('a가 listdata 안에 있습니다.')
  print(listdata)

a가 listdata 안에 있습니다.
['a', 'b', 'c']

In [6]:
numbers = (1,2,3,4,5,6,7,8,9)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [7]:
scope = [1,2,3,4,5]

for y in scope:
  print(y)

1
2
3
4
5

In [8]:
name = ['Sam', 'Emily', 'Todd']

for i in name:
  print(i)

Sam
Emily
Todd

In [9]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [10]:
for i in range(3):
  print(i)

type(i)

0
1
2

int

In [12]:
string = 'abcde'

for i in string:
  print(i)

a
b
c
d
e

In [13]:
list_fruit = ["apple", "banana", "pear"]

for i in list_fruit:
  print(i)

apple
banana
pear

In [14]:
list_int = [1,2,3,4,5]

for i in list_int:
  print(i)

1
2
3
4
5

In [15]:
print(list_int[0])
print(list_int[1])

1
2

In [16]:
printdict1 = {'a':10, 'b':20, 'c':30}

for i in printdict1:
  print(i)

a
b
c

In [18]:
print(printdict1['a'])

10