<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# a
## a
### a

**A**

<font color = red>red </font>
<font color = yellow> yellow </font> yellow
site([site](https://github.com/))

In [ ]:
a = 10
b = 2
print(a+b)
print(a*b)

12
20

In [ ]:
a = 24
b = 'string'
c = 'seqeunce'
d = ['string', 'seqeunce']
e = ('string', 'seqeunce')

In [ ]:
string -> 'a', "a"
list -> [1, 'a', 'abc']
tuple -> ('a', 1)
dictionary -> {'a':1}

| str data |  | p | y | t | h | o | n |
|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
|Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5| 6 |

In [ ]:
[1:5] -> 5미만
[:5] -> 0부터 5미만
[5:] -> 5부터 끝까지
[:-3] -> 0부터 -3미만
[-3:] -> -3부터
[::2] -> 0, 2의 배수

In [ ]:
[1:2] -> 1
[:2] -> 0, 1
[2:] -> 2
[:-2] -> -1, 0
[-2:] -> -2, -1
[::2] -> 0, 2

In [1]:
str_data = 'I love python'
list_data = ['apple', 'banana']
tuple_data = ('apple', 'banana')

print (str_data)
print (list_data)
print (tuple_data)

I love python
['apple', 'banana']
('apple', 'banana')

In [2]:
str_data = "I love python"

print(str_data[0])
print(str_data[1])
print(str_data[2])

I

l

In [3]:
strdata = 'Time is Money'

print(strdata[-1])
print(strdata[-2])

y
e

In [5]:
listdata = [1, 2, [1,2,3]]

print(listdata[0])
print(listdata[-1])
print(listdata[2][-2])

1
[1, 2, 3]
2

In [8]:
list_data = ['apple', 'banana']
list_data[0] = 'pear'
print(list_data)

['pear', 'banana']

In [10]:
str_data = 'Time is Money'

print(str_data[0])
print(str_data[1])
print(str_data[1:4])
print(str_data[:3])
print(str_data[1:])
print(str_data[::3])

T
i
ime
Tim
ime is Money
Tesoy

In [11]:
strdata1 ='i love' ; strdata2 = 'python'
print(strdata1 + strdata2)
print(strdata1*5)

i lovepython
i lovei lovei lovei lovei love

In [12]:
strdata1 = 'I love ' ; strdata2 = 'python'
print(strdata1 + strdata2)

I love python

In [14]:
strdata1 = 'i love' ; strdata0 = ' ' ; strdata2 = 'python'
print(strdata1 + strdata0 + strdata2)

i love python

In [15]:
subject = 'I '; verb = 'like '; object = 'an apple'
sentence = subject + verb + object
print(sentence)

I like an apple