<a href="https://colab.research.google.com/github/daseul0719/NLP_2024/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# a
## a
### a

**A**

<font color = red>red </font>
<font color = yellow> yellow </font> yellow
site([site](https://github.com/))

In [ ]:
a = 10
b = 2
print(a+b)
print(a*b)

12
20

In [ ]:
a = 24
b = 'string'
c = 'seqeunce'
d = ['string', 'seqeunce']
e = ('string', 'seqeunce')

In [ ]:
string -> 'a', "a"
list -> [1, 'a', 'abc']
tuple -> ('a', 1)
dictionary -> {'a':1}

| str data |  | p | y | t | h | o | n |
|:--:|:--:|:--:|:--:|:--:|:--:|:--:|:--:|
|Forward Indexing | 0 | 1 | 2 | 3 | 4 | 5| 6 |

In [ ]:
[1:5] -> 5미만
[:5] -> 0부터 5미만
[5:] -> 5부터 끝까지
[:-3] -> 0부터 -3미만
[-3:] -> -3부터
[::2] -> 0, 2의 배수

In [ ]:
[1:2] -> 1
[:2] -> 0, 1
[2:] -> 2
[:-2] -> -1, 0
[-2:] -> -2, -1
[::2] -> 0, 2

In [ ]:
str_data = 'I love python'
list_data = ['apple', 'banana']
tuple_data = ('apple', 'banana')

print (str_data)
print (list_data)
print (tuple_data)

I love python
['apple', 'banana']
('apple', 'banana')

In [ ]:
str_data = "I love python"

print(str_data[0])
print(str_data[1])
print(str_data[2])

I

l

In [ ]:
strdata = 'Time is Money'

print(strdata[-1])
print(strdata[-2])

y
e

In [ ]:
listdata = [1, 2, [1,2,3]]

print(listdata[0])
print(listdata[-1])
print(listdata[2][-2])

1
[1, 2, 3]
2

In [ ]:
list_data = ['apple', 'banana']
list_data[0] = 'pear'
print(list_data)

['pear', 'banana']

In [ ]:
str_data = 'Time is Money'

print(str_data[0])
print(str_data[1])
print(str_data[1:4])
print(str_data[:3])
print(str_data[1:])
print(str_data[::3])

T
i
ime
Tim
ime is Money
Tesoy

In [ ]:
strdata1 ='i love' ; strdata2 = 'python'
print(strdata1 + strdata2)
print(strdata1*5)

i lovepython
i lovei lovei lovei lovei love

In [ ]:
strdata1 = 'I love ' ; strdata2 = 'python'
print(strdata1 + strdata2)

I love python

In [ ]:
strdata1 = 'i love' ; strdata0 = ' ' ; strdata2 = 'python'
print(strdata1 + strdata0 + strdata2)

i love python

In [ ]:
subject = 'I '; verb = 'like '; object = 'an apple'
sentence = subject + verb + object
print(sentence)

I like an apple

In [1]:
numbers = (1,2,3,4,5,6,7,8,9)

for i in numbers:
  print(i)

1
2
3
4
5
6
7
8
9

In [2]:
scope = [1,2,3,4,5]

for x in scope:
  print(x)

1
2
3
4
5

In [3]:
import keyword
keyword.kwlist

['False',
 'None',
 'True',
 'and',
 'as',
 'assert',
 'async',
 'await',
 'break',
 'class',
 'continue',
 'def',
 'del',
 'elif',
 'else',
 'except',
 'finally',
 'for',
 'from',
 'global',
 'if',
 'import',
 'in',
 'is',
 'lambda',
 'nonlocal',
 'not',
 'or',
 'pass',
 'raise',
 'return',
 'try',
 'while',
 'with',
 'yield']

In [6]:
name = ['sam', 'emily', 'teddy']

for i in name:
  print(i)

sam
emily
teddy

In [13]:
for i in range(2):
  print(i)

for z in range(1):
  print(z)

for q in range(0):
  print(q)

0
1
0

In [14]:
string = 'abcde'

for c in string:
  print(c)

a
b
c
d
e

In [15]:
list_fruit = ["apple", "banana", "pear"]

for i in list_fruit:
  print(i)

apple
banana
pear

In [17]:
printdict1 = {'a':90, 'b':100, 'c':10}

for i in printdict1:
  print(i)

a
b
c

In [18]:
scope = [1,2,3,4,5]

for i in scope:
  print(i)
  if i<3:
    continue
  else:
    break

1
2
3

In [19]:
scope = [1,2,3,4,5,6,7]

for i in scope:
  print(i)
  if i < 4:
    continue
  else:
    break

1
2
3
4

In [20]:
scope = [1,2,3,4,5]

for x in scope:
  print(x)
else:
  print('perfect')

1
2
3
4
5
perfect

In [22]:
list = [1,2,3,4,5]
for i in list:
  print(i)
  break
else:
  print('perfect')

1